<div class="clearfix">
    <button class="btn btn-link d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#doc-sidebar-nav" aria-controls="doc-sidebar-nav" aria-expanded="false" aria-label="Toggle docs navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-border-width" viewBox="0 0 16 16">
            <path d="M0 3.5A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-2zm0 5A.5.5 0 0 1 .5 8h15a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1zm0 4a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
          </svg>
    </button>
    <span class="mobile-sidebar-title">Api pages</span>
</div>

<nav class="doc-links collapse clearfix nav-fix" id="doc-sidebar-nav">
    <ul class="nav bs-sidenav">

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#index-collapse" aria-expanded="false">
                <a>browser</a>
            </button>

            <div class="collapse" id="index-collapse" data-section-url="/api/">
                <ul class="btn-toggle-nav local-nav">
                    <li><a href="/api/#the-browser-object">browser object</a></li>
                    <li class="nav-item"><a href="/api/#api-contents">browser API</a></li>
                </ul>
            </div>

        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#alerts-collapse" aria-expanded="false">
                <a>.alerts</a>
            </button>
            <div class="collapse" id="alerts-collapse" data-section-url="/api/alerts/">
                <ul class="btn-toggle-nav local-nav">
                    <li class="nav-item"><a href="/api/alerts/accept.html">accept</a></li>
                    <li class="nav-item"><a href="/api/alerts/dismiss.html">dismiss</a></li>
                    <li class="nav-item"><a href="/api/alerts/getText.html">getText</a></li>
                    <li class="nav-item"><a href="/api/alerts/setText.html">setText</a></li>
                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#appium-collapse" aria-expanded="false">
                <a>.appium</a>
            </button>
            <div class="collapse" id="appium-collapse" data-section-url="/api/appium/">
                <ul class="btn-toggle-nav local-nav">
                    <li class="nav-item"><a href="/api/appium/getContext.html">getContext</a></li>
                    <li class="nav-item"><a href="/api/appium/getContexts.html">getContexts</a></li>
                    <li class="nav-item"><a href="/api/appium/getCurrentActivity.html">getCurrentActivity</a></li>
                    <li class="nav-item"><a href="/api/appium/getCurrentPackage.html">getCurrentPackage</a></li>
                    <li class="nav-item"><a href="/api/appium/getGeolocation.html">getGeolocation</a></li>
                    <li class="nav-item"><a href="/api/appium/getOrientation.html">getOrientation</a></li>
                    <li class="nav-item"><a href="/api/appium/hideKeyboard.html">hideKeyboard</a></li>
                    <li class="nav-item"><a href="/api/appium/isKeyboardShown.html">isKeyboardShown</a></li>
                    <li class="nav-item"><a href="/api/appium/longPressKeyCode.html">longPressKeyCode</a></li>
                    <li class="nav-item"><a href="/api/appium/pressKeyCode.html">pressKeyCode</a></li>
                    <li class="nav-item"><a href="/api/appium/setContext.html">setContext</a></li>
                    <li class="nav-item"><a href="/api/appium/setGeolocation.html">setGeolocation</a></li>
                    <li class="nav-item"><a href="/api/appium/setOrientation.html">setOrientation</a></li>
                    <li class="nav-item"><a href="/api/appium/startActivity.html">startActivity</a></li>
                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#assert-collapse" aria-expanded="false">
                <a>.assert</a>
            </button>
            <div class="collapse" id="assert-collapse" data-section-url="/api/assert/">
                <ul class="btn-toggle-nav local-nav">
                    <li class="overview nav-item"><a href="/api/assert/">Overview</a></li>
                    <li class="nav-item"><a href="/api/assert/attributeContains.html">attributeContains</a></li>
                    <li class="nav-item"><a href="/api/assert/attributeEquals.html">attributeEquals</a></li>
                    <li class="nav-item"><a href="/api/assert/attributeMatches.html">attributeMatches</a></li>
                    <li class="nav-item"><a href="/api/assert/cssProperty.html">cssProperty</a></li>
                    <li class="nav-item"><a href="/api/assert/domPropertyContains.html">domPropertyContains</a></li>
                    <li class="nav-item"><a href="/api/assert/domPropertyEquals.html">domPropertyEquals</a></li>
                    <li class="nav-item"><a href="/api/assert/domPropertyMatches.html">domPropertyMatches</a></li>
                    <li class="nav-item"><a href="/api/assert/elementsCount.html">elementsCount</a></li>
                    <li class="nav-item"><a href="/api/assert/elementPresent.html">elementPresent</a></li>
                    <li class="nav-item"><a href="/api/assert/hasClass.html">hasClass</a></li>
                    <li class="nav-item"><a href="/api/assert/hasAttribute.html">hasAttribute</a></li>
                    <li class="nav-item"><a href="/api/assert/hasDescendants.html">hasDescendants</a></li>
                    <li class="nav-item"><a href="/api/assert/enabled.html">enabled</a></li>
                    <li class="nav-item"><a href="/api/assert/selected.html">selected</a></li>
                    <li class="nav-item"><a href="/api/assert/textContains.html">textContains</a></li>
                    <li class="nav-item"><a href="/api/assert/textEquals.html">textEquals</a></li>
                    <li class="nav-item"><a href="/api/assert/textMatches.html">textMatches</a></li>
                    <li class="nav-item"><a href="/api/assert/titleContains.html">titleContains</a></li>
                    <li class="nav-item"><a href="/api/assert/titleEquals.html">titleEquals</a></li>
                    <li class="nav-item"><a href="/api/assert/titleMatches.html">titleMatches</a></li>
                    <li class="nav-item"><a href="/api/assert/urlContains.html">urlContains</a></li>
                    <li class="nav-item"><a href="/api/assert/urlEquals.html">urlEquals</a></li>
                    <li class="nav-item"><a href="/api/assert/urlMatches.html">urlMatches</a></li>
                    <li class="nav-item"><a href="/api/assert/valueContains.html">valueContains</a></li>
                    <li class="nav-item"><a href="/api/assert/valueEquals.html">valueEquals</a></li>
                    <li class="nav-item"><a href="/api/assert/visible.html">visible</a></li>
                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#chrome-collapse" aria-expanded="false">
                <a>.chrome</a>
            </button>
            <div class="collapse" id="chrome-collapse" data-section-url="/api/chrome/">
                <ul class="btn-toggle-nav local-nav">
                    <li class="nav-item"><a href="/api/chrome/">Overview</a></li>
                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#cookies-collapse" aria-expanded="false">
                <a>.cookies</a>
            </button>
            <div class="collapse" id="cookies-collapse" data-section-url="/api/cookies/">
                <ul class="btn-toggle-nav local-nav">
                    <li class="nav-item"><a href="/api/cookies/delete.html">delete cookie</a></li>
                    <li class="nav-item"><a href="/api/cookies/deleteAll.html">delete cookies</a></li>
                    <li class="nav-item"><a href="/api/cookies/getAll.html">get cookies</a></li>
                    <li class="nav-item"><a href="/api/cookies/get.html">get cookie</a></li>
                    <li class="nav-item"><a href="/api/cookies/set.html">set cookie</a></li>
                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#document-collapse" aria-expanded="false">
                <a>.document</a>
            </button>
            <div class="collapse" id="document-collapse" data-section-url="/api/document/">
                <ul class="btn-toggle-nav local-nav">
                    <li class="nav-item"><a href="/api/document/injectScript.html">injectScript</a></li>
                    <li class="nav-item"><a href="/api/document/source.html">source</a></li>
                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#commands-collapse" aria-expanded="false">
                <a>.element</a>
            </button>
            <div class="collapse" id="commands-collapse" data-section-url="/api/commands/">
                <ul class="btn-toggle-nav local-nav">
                    <li class="nav-item"><a href="/api/element/">Overview</a></li>
                    <li>
                        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#findelements-collapse" aria-expanded="false">
                            <a class="section">Find Elements</a>
                        </button>

                        <div class="collapse" id="findelements-collapse">
                            <ul class="btn-toggle-nav local-nav">
                                <li><a href="/api/element/find.html">find</a></li>
                                <li><a href="/api/element/findAll.html">findAll</a></li>
                                <li><a href="/api/element/findByAltText.html">findByAltText</a></li>
                                <li><a href="/api/element/findAllByAltText.html">findAllByAltText</a></li>
                                <li><a href="/api/element/findByPlaceholderText.html">findByPlaceholderText</a></li>
                                <li><a href="/api/element/findAllByPlaceholderText.html">findAllByPlaceholderText</a></li>
                                <li><a href="/api/element/findByRole.html">findByRole</a></li>
                                <li><a href="/api/element/findAllByRole.html">findAllByRole</a></li>
                                <li><a href="/api/element/findByLabelText.html">findByLabelText</a></li>
                                <li><a href="/api/element/findByText.html">findByText</a></li>
                                <li><a href="/api/element/findAllByText.html">findAllByText</a></li>
                                <li><a href="/api/element/getFirstElementChild.html">getFirstElementChild</a></li>
                                <li><a href="/api/element/getLastElementChild.html">getLastElementChild</a></li>
                                <li><a href="/api/element/getNextElementSibling.html">getNextElementSibling</a></li>
                                <li><a href="/api/element/getPreviousElementSibling.html">getPreviousElementSibling</a></li>
                                <li><a href="/api/element/getShadowRoot.html">getShadowRoot</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#interaction-collapse" aria-expanded="false">
                            <a class="section">Element Interaction</a>
                        </button>

                        <div class="collapse" id="interaction-collapse">
                            <ul class="btn-toggle-nav local-nav">
                                <li><a href="/api/element/clear.html">clear</a></li>
                                <li><a href="/api/element/click.html">click</a></li>
                                <li><a href="/api/element/dragAndDrop.html">dragAndDrop</a></li>
                                <li><a href="/api/element/sendKeys.html">sendKeys</a></li>
                                <li><a href="/api/element/setAttribute.html">setAttribute</a></li>
                                <li><a href="/api/element/setProperty.html">setProperty</a></li>
                                <li><a href="/api/element/submit.html">submit</a></li>
                                <li><a href="/api/element/update.html">update</a></li>
                                <li><a href="/api/element/upload.html">upload</a></li>
                                <li><a href="/api/submitForm.html">submitForm</a></li>
                                <li><a href="/api/updateValue.html">updateValue</a></li>
                                <li><a href="/api/uploadFile.html">uploadFile</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#elementstate-collapse" aria-expanded="false">
                            <a class="section">Element State</a>
                        </button>

                        <div class="collapse" id="elementstate-collapse">
                            <ul class="btn-toggle-nav local-nav">
                                <li><a href="/api/elementActive.html">elementActive</a></li>
                                <li><a href="/api/element/getAccessibleName.html">getAccessibleName</a></li>
                                <li><a href="/api/element/getAriaRole.html">getAriaRole</a></li>
                                <li><a href="/api/element/getAttribute.html">getAttribute</a></li>
                                <li><a href="/api/element/getCssProperty.html">getCssProperty</a></li>
                                <li><a href="/api/element/getProperty.html">getProperty</a></li>
                                <li><a href="/api/element/getRect.html">getRect</a></li>
                                <li><a href="/api/getElementSize.html">getElementSize</a></li>
                                <li><a href="/api/element/getTagName.html">getTagName</a></li>
                                <li><a href="/api/element/getText.html">getText</a></li>
                                <li><a href="/api/element/getValue.html">getValue</a></li>
                                <li><a href="/api/element/getId.html">getId</a></li>
                                <li><a href="/api/hasDescendants.html">hasDescendants</a></li>
                                <li><a href="/api/isEnabled.html">isEnabled</a></li>
                                <li><a href="/api/isSelected.html">isSelected</a></li>
                                <li><a href="/api/isVisible.html">isVisible</a></li>
                                <li><a href="/api/isPresent.html">isPresent</a></li>
                            </ul>
                        </div>
                    </li>


                    <li>
                        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#apiuseractions-collapse" aria-expanded="false">
                            <a class="section">User Actions</a>
                        </button>

                        <div class="collapse" id="apiuseractions-collapse">
                            <ul class="btn-toggle-nav local-nav">
                                <li><a href="/api/element/clickAndHold.html">clickAndHold</a></li>
                                <li><a href="/api/element/doubleClick.html">doubleClick</a></li>
                                <li><a href="/api/element/rightClick.html">rightClick</a></li>
                                <li><a href="/api/element/moveTo.html">moveTo</a></li>
                                <li><a href="/api/useractions/">Selenium Actions API</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#elementlocation-collapse" aria-expanded="false">
                            <a class="section">Screen capture</a>
                        </button>

                        <div class="collapse" id="elementlocation-collapse">
                            <ul class="btn-toggle-nav local-nav">
                                <li><a href="/api/element/takeScreenshot.html">takeScreenshot</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#expect-collapse" aria-expanded="false"><a>.expect</a></button>

            <div class="collapse" id="expect-collapse" data-section-url="/api/expect/">
                <ul class="btn-toggle-nav local-nav">
                    <li class="nav-item"><a href="/api/expect/">Overview</a></li>
                    <li class="nav-item"><a href="/api/expect/#expect-chains">language chains</a></li>
                    <li class="nav-item"><a href="/api/expect/#expect-matchers">equal() / contain() / match()</a></li>
                    <li class="nav-item"><a href="/api/expect/#expect-startend">startWith() / endWith()</a></li>
                    <li class="nav-item"><a href="/api/expect/#expect-negation">.not</a></li>
                    <li class="nav-item"><a href="/api/expect/#expect-before">before() / after()</a></li>
                    <li class="nav-item local-nav"><h5><a href="/api/expect/#expect-cookie">.cookie()</a></h5></li>

                    <li class="nav-item local-nav"><h5><a href="/api/expect/element/#">.element()</a></h5></li>
                    <li class="nav-item"><a href="/api/expect/element/type.html">.a() / .an()</a></li>
                    <li class="nav-item"><a href="/api/expect/element/active.html">.active</a></li>
                    <li class="nav-item"><a href="/api/expect/element/attribute.html">.attribute(name)</a></li>
                    <li class="nav-item"><a href="/api/expect/element/css.html">.css(property)</a></li>
                    <li class="nav-item"><a href="/api/expect/element/enabled.html">.enabled</a></li>
                    <li class="nav-item"><a href="/api/expect/element/present.html">.present</a></li>
                    <li class="nav-item"><a href="/api/expect/element/property.html">.property(name)</a></li>
                    <li class="nav-item"><a href="/api/expect/element/selected.html">.selected</a></li>
                    <li class="nav-item"><a href="/api/expect/element/text.html">.text</a></li>
                    <li class="nav-item"><a href="/api/expect/element/value.html">.value</a></li>
                    <li class="nav-item"><a href="/api/expect/element/visible.html">.visible</a></li>
                    <li class="nav-item local-nav"><h5><a href="/api/expect/elements/#">.elements()</a></h5></li>
                    <li class="nav-item"><a href="/api/expect/elements/count.html">.count</a></li>
                    <li class="nav-item local-nav"><h5><a href="/api/expect/#expect-title">.title()</a></h5></li>
                    <li class="nav-item local-nav"><h5><a href="/api/expect/#expect-url">.url()</a></h5></li>
                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#firefox-collapse" aria-expanded="false">
                <a>.firefox</a>
            </button>
            <div class="collapse" id="firefox-collapse" data-section-url="/api/firefox/">
                <ul class="btn-toggle-nav local-nav">
                    <li class="nav-item"><a href="/api/firefox/">Overview</a></li>
                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#window-collapse" aria-expanded="false">
                <a>.window</a>
            </button>
            <div class="collapse" id="window-collapse" data-section-url="/api/window/">
                <ul class="btn-toggle-nav local-nav">
                    <li class="nav-item"><a href="/api/window/close.html">close</a></li>
                    <li class="nav-item"><a href="/api/window/fullscreen.html">fullscreen</a></li>
                    <li class="nav-item"><a href="/api/window/getAllHandles.html">getAllHandles</a></li>
                    <li class="nav-item"><a href="/api/window/getHandle.html">getHandle</a></li>
                    <li class="nav-item"><a href="/api/window/getPosition.html">getPosition</a></li>
                    <li class="nav-item"><a href="/api/window/getRect.html">getRect</a></li>
                    <li class="nav-item"><a href="/api/window/getSize.html">getSize</a></li>
                    <li class="nav-item"><a href="/api/window/maximize.html">maximize</a></li>
                    <li class="nav-item"><a href="/api/window/minimize.html">minimize</a></li>
                    <li class="nav-item"><a href="/api/window/open.html">open</a></li>
                    <li class="nav-item"><a href="/api/window/setPosition.html">setPosition</a></li>
                    <li class="nav-item"><a href="/api/window/setRect.html">setRect</a></li>
                    <li class="nav-item"><a href="/api/window/setSize.html">setSize</a></li>
                    <li class="nav-item"><a href="/api/window/switchTo.html">switchTo</a></li>
                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#pageobject-collapse" aria-expanded="false"><a>Page Object</a></button>

            <div class="collapse" id="pageobject-collapse" data-section-url="/api/pageobject/">
                <ul class="btn-toggle-nav local-nav">
                    <li><a href="/api/pageobject/#overview">Overview</a></li>
                    <li><a href="/api/pageobject/#page-object-instance">Instance</a></li>
                    <li><a href="/api/pageobject/#page-commands">Commands</a></li>
                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#useractions-collapse" aria-expanded="false"><a>User Actions</a></button>

            <div class="collapse" id="useractions-collapse" data-section-url="/api/useractions/">
                <ul class="btn-toggle-nav local-nav">
                    <li><a href="/api/useractions/#overview">Overview</a></li>
                    <li><a href="/api/useractions/#available-actions">Available actions</a></li>
                    <li><a href="/api/useractions/#working-with-action-ticks">Action ticks</a></li>
                    <li><a href="/api/useractions/#working-example">Working example</a></li>
                </ul>
            </div>
        </li>

        <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#programmatic-collapse" aria-expanded="false"><a>Programmatic API</a></button>

            <div class="collapse" id="programmatic-collapse" data-section-url="/api/programmatic/">
                <ul class="btn-toggle-nav local-nav">
                    <li><a href="/api/programmatic/#programmatic-api">Use the programmatic api</a></li>
                </ul>
            </div>
        </li>

    </ul>
</nav>