<!-- Footer section start -->
<style>
  @font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src:
      url(/css/landing/fonts/ibm-plex-mono-400.woff2) format('woff2'),
      url(/css/landing/fonts/ibm-plex-mono-400.woff2) format('woff2 supports variations'),
      url(/css/landing/fonts/ibm-plex-mono-400.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
    src:
      url(/css/landing/fonts/ibm-plex-mono-500.woff2) format('woff2'),
      url(/css/landing/fonts/ibm-plex-mono-500.woff2) format('woff2 supports variations'),
      url(/css/landing/fonts/ibm-plex-mono-500.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
    src:
      url(/css/landing/fonts/ibm-plex-mono-600.woff2) format('woff2'),
      url(/css/landing/fonts/ibm-plex-mono-600.woff2) format('woff2 supports variations'),
      url(/css/landing/fonts/ibm-plex-mono-600.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: fallback;
    src:
      url(/css/landing/fonts/inter.woff2) format('woff2'),
      url(/css/landing/fonts/inter.woff2) format('woff2 supports variations'),
      url(/css/landing/fonts/inter.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
</style>
<footer class="footer" aria-label="Footer">
  <div class="footer__wrapper">
    <div class="footer__wrapper-inner">
      <nav class="footer__wrapper-inner-menu" aria-label="Footer menu">
        <ul>
          <li>
            <span class="footer__wrapper-inner-menu-separator">Features</span>
            <ul>
              <li><a href="#">Test native mobile app</a></li>
              <li><a href="#">Developer Experience</a></li>
              <li><a href="#">One framework for all</a></li>
              <li><a href="#">Test for real users</a></li>
              <li><a href="#">Built on web standards</a></li>
            </ul>
          </li>
          <li>
            <span class="footer__wrapper-inner-menu-separator">Resources</span>
            <ul>
              <li><a href="#">Community</a></li>
              <li><a href="#">Discussions</a></li>
              <li><a href="#">Chat with us</a></li>
              <li><a href="#">Stack Overflow</a></li>
              <li><a href="#">Report Issues</a></li>
            </ul>
          </li>
          <li>
            <span class="footer__wrapper-inner-menu-separator">Docs</span>
            <ul>
              <li><a href="#">What is Nightwatch?</a></li>
              <li><a href="#">Set up Nightwatch</a></li>
              <li><a href="#">Start with VS code</a></li>
              <li><a href="#">Run your first Test</a></li>
              <li><a href="#">Test on mobile devices</a></li>
              <li><a href="#">Test on simulators</a></li>
              <li><a href="#">API reference</a></li>
              <li><a href="/guide">Guide</a></li>
              <li><a href="#">Config settings</a></li>
            </ul>
          </li>
          <li>
            <span class="footer__wrapper-inner-menu-separator">Nightwatch</span>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Newsletter</a></li>
              <li><a href="#">How to Contribute?</a></li>
              <li><a href="#">Release History</a></li>
              <li><a href="#">Integrations Plugins</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="footer__wrapper-inner-social">
        <div class="footer__wrapper-inner-social-logo">
          <svg role="img" viewBox="0 0 287 49" fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
            <title>Nightwatch logo of an owl</title>
            <path
              d="M32.4229 27.1188L28.4001 34.882C27.5344 36.5526 25.8098 37.6013 23.9283 37.6013H12.9208C11.2452 37.6013 9.67939 36.768 8.74337 35.3783L2.09732 25.5107C0.852951 23.6632 0.970019 21.2176 2.38518 19.4974L8.66153 11.868C9.964 10.2847 12.0962 9.64897 14.053 10.2603L28.8883 14.8952C30.9911 15.5522 32.4229 17.4996 32.4229 19.7026V27.1188Z"
              fill="#061C18" />
            <path
              d="M27.8075 18.858C29.5837 19.7526 30.2161 21.9742 29.1773 23.6701L24.1877 31.8159C23.5536 32.8511 22.4156 33.4697 21.2021 33.4387L14.3611 33.2644C13.2766 33.2368 12.2703 32.6931 11.6527 31.8011L6.70938 24.6617C5.85291 23.4248 5.91134 21.772 6.85303 20.5986L12.1568 13.9897C13.1613 12.7381 14.9042 12.3594 16.3375 13.0812L27.8075 18.858Z"
              fill="#F0F5F5" />
            <path
              d="M32.2351 27.1776L35.9909 34.7926C36.8391 36.5124 38.5904 37.6013 40.508 37.6013H51.4464C53.122 37.6013 54.6878 36.768 55.6238 35.3783L62.2699 25.5107C63.5142 23.6632 63.3972 21.2176 61.982 19.4974L55.7147 11.879C54.4077 10.2902 52.2658 9.65607 50.3045 10.2772L35.7511 14.8861C33.6577 15.549 32.2351 17.4918 32.2351 19.6876V27.1776Z"
              fill="#061C18" />
            <path
              d="M36.5597 18.858C34.7835 19.7526 34.1511 21.9742 35.1899 23.6701L40.1795 31.8159C40.8136 32.8511 41.9515 33.4697 43.1651 33.4387L50.006 33.2644C51.0906 33.2368 52.0969 32.6931 52.7145 31.8011L57.6578 24.6617C58.5143 23.4248 58.4558 21.772 57.5142 20.5986L52.2104 13.9897C51.2059 12.7381 49.463 12.3594 48.0297 13.0812L36.5597 18.858Z"
              fill="#F0F5F5" />
            <path
              d="M34.4996 26.917C33.8674 25.783 32.1406 26.2318 32.1406 27.5301V48.7657L38.9812 36.1573C39.1868 35.7782 39.1842 35.3203 38.9742 34.9437L34.4996 26.917Z"
              fill="#3C493E" />
            <path
              d="M32.1838 48.7657V27.6464C32.1838 26.3404 30.4407 25.898 29.8179 27.0459L25.342 35.2951C25.1364 35.6742 25.139 36.1322 25.349 36.5088L32.1838 48.7657Z"
              fill="#637068" />
            <path
              d="M32.1406 12.7408V22.6846L57.0421 9.98456C58.4411 9.27107 58.5096 7.29743 57.1635 6.48858L55.2942 5.36535C54.7835 5.05848 54.1626 4.99528 53.6005 5.19297L32.1406 12.7408Z"
              fill="#FA764D" />
            <path
              d="M32.2587 12.7408V22.6846L7.35722 9.98457C5.95823 9.27107 5.88968 7.29743 7.23579 6.48858L9.1051 5.36535C9.6158 5.05848 10.2367 4.99528 10.7988 5.19297L32.2587 12.7408Z"
              fill="#FA764D" />
            <ellipse cx="17.5" cy="21.1279" rx="3.5" ry="4" fill="#061C18" />
            <ellipse cx="48.5" cy="21.1279" rx="3.5" ry="4" fill="#061C18" />
            <ellipse cx="18.5" cy="22.1279" rx="1.5" ry="2" fill="#F0F5F5" />
            <ellipse cx="49.5" cy="22.1279" rx="1.5" ry="2" fill="#F0F5F5" />
            <path
              d="M90.0624 33.8789V9.09023H100.19L104.263 27.3276H104.369C103.85 23.4086 103.59 20.5048 103.59 18.6162V9.09023H110.708V33.8789H100.474L96.7907 17.5538H96.6845C97.015 19.8202 97.1803 22.2636 97.1803 24.8842V33.8789H90.0624ZM113.845 12.7731V7.3196H121.777V12.7731H113.845ZM113.88 33.8789V14.4021H121.742V33.8789H113.88ZM133.79 42.732C132.373 42.732 130.957 42.5549 129.54 42.2008C128.124 41.8467 126.979 41.3745 126.105 40.7843L126.92 35.26C129.587 36.3932 131.7 36.9598 133.259 36.9598C135.313 36.9598 136.339 35.98 136.339 34.0206V32.3208C135.017 33.8317 133.259 34.5872 131.063 34.5872C128.985 34.5872 127.357 33.6664 126.176 31.825C124.996 29.9835 124.405 27.422 124.405 24.1405C124.405 20.8589 125.078 18.2974 126.424 16.456C127.77 14.6146 129.635 13.6938 132.019 13.6938C132.94 13.6938 133.837 13.9063 134.71 14.3313C135.584 14.7562 136.328 15.3228 136.941 16.0311V14.4021H144.201V33.5248C144.201 36.5466 143.316 38.8366 141.545 40.3948C139.798 41.9529 137.213 42.732 133.79 42.732ZM134.286 28.567C135.135 28.567 135.82 28.0713 136.339 27.0797V21.1659C135.82 20.1979 135.135 19.7139 134.286 19.7139C133.034 19.7139 132.409 21.1895 132.409 24.1405C132.409 27.0915 133.034 28.567 134.286 28.567ZM160.226 13.6938C161.902 13.6938 163.212 14.2132 164.156 15.252C165.101 16.2671 165.573 17.6836 165.573 19.5015V33.8789H157.711V20.9534C157.711 20.1271 157.393 19.7139 156.755 19.7139C156.165 19.7139 155.657 20.0917 155.233 20.8471V33.8789H147.371V7.3196H155.233V16.3144C155.823 15.5117 156.566 14.8743 157.464 14.4021C158.361 13.9299 159.281 13.6938 160.226 13.6938ZM177.094 34.5872C174.875 34.5872 173.116 33.9851 171.817 32.7811C170.519 31.5771 169.87 29.8065 169.87 27.4693V19.9618H167.533V15.3582L168.807 14.8979C169.185 14.7562 169.468 14.5791 169.657 14.3667C169.87 14.1306 170.023 13.7174 170.118 13.1272L170.578 10.3297H177.731V14.4021H181.981V19.9618H177.731V26.7256C177.731 27.9296 178.251 28.5316 179.289 28.5316C179.832 28.5316 180.623 28.3782 181.662 28.0713L182.477 33.5956C180.446 34.2566 178.652 34.5872 177.094 34.5872ZM187.151 33.8789L183.185 14.4021H191.259L192.179 25.5216H192.286L193.985 14.4021H201.493L202.98 25.4153H203.086L204.042 14.4021H212.081L208.292 33.8789H199.58L197.774 23.5385H197.668L195.968 33.8789H187.151ZM221.922 13.6938C227.966 13.6938 230.988 15.8658 230.988 20.2097V33.8789H223.87V32.3562C223.185 33.0408 222.359 33.5838 221.391 33.9851C220.423 34.3865 219.49 34.5872 218.593 34.5872C216.917 34.5872 215.56 34.0324 214.521 32.9228C213.482 31.7896 212.963 30.3141 212.963 28.4962C212.963 26.6784 213.659 25.2147 215.052 24.1051C216.445 22.9719 218.275 22.4053 220.541 22.4053H223.339V21.3783C223.339 20.1035 222.406 19.4661 220.541 19.4661C219.054 19.4661 217.814 19.8438 216.823 20.5993L213.636 16.2081C214.674 15.4527 215.949 14.8506 217.46 14.4021C218.971 13.9299 220.458 13.6938 221.922 13.6938ZM223.339 28.3546V25.9465H221.958C221.037 25.9465 220.576 26.5249 220.576 27.6817C220.576 28.6261 220.978 29.0982 221.78 29.0982C222.371 29.0982 222.89 28.8503 223.339 28.3546ZM242.495 34.5872C240.276 34.5872 238.517 33.9851 237.218 32.7811C235.92 31.5771 235.271 29.8065 235.271 27.4693V19.9618H232.933V15.3582L234.208 14.8979C234.586 14.7562 234.869 14.5791 235.058 14.3667C235.271 14.1306 235.424 13.7174 235.519 13.1272L235.979 10.3297H243.132V14.4021H247.382V19.9618H243.132V26.7256C243.132 27.9296 243.652 28.5316 244.69 28.5316C245.233 28.5316 246.024 28.3782 247.063 28.0713L247.877 33.5956C245.847 34.2566 244.053 34.5872 242.495 34.5872ZM259.182 34.5872C256.113 34.5872 253.634 33.631 251.745 31.7187C249.88 29.8065 248.948 27.2804 248.948 24.1405C248.948 21.0006 249.88 18.4745 251.745 16.5622C253.634 14.65 256.113 13.6938 259.182 13.6938C262.275 13.6938 264.683 14.5555 266.406 16.2789L262.9 21.0596C262.334 20.3278 261.519 19.9618 260.457 19.9618C259.3 19.9618 258.45 20.3042 257.907 20.9888C257.364 21.6498 257.093 22.7004 257.093 24.1405C257.093 25.5806 257.364 26.643 257.907 27.3276C258.45 27.9886 259.3 28.3192 260.457 28.3192C261.519 28.3192 262.334 27.9532 262.9 27.2214L266.406 32.002C264.683 33.7255 262.275 34.5872 259.182 34.5872ZM280.687 13.6938C282.364 13.6938 283.674 14.2132 284.618 15.252C285.562 16.2671 286.035 17.6836 286.035 19.5015V33.8789H278.173V20.9534C278.173 20.1271 277.854 19.7139 277.217 19.7139C276.627 19.7139 276.119 20.0917 275.694 20.8471V33.8789H267.833V7.3196H275.694V16.3144C276.284 15.5117 277.028 14.8743 277.925 14.4021C278.822 13.9299 279.743 13.6938 280.687 13.6938Z"
              fill="#FA764D" />
          </svg>
        </div>
        <div class="footer__wrapper-inner-social-subscribe">
          <h3 class="footer__wrapper-inner-social-subscribe-title">Subscribe to our newsletter</h3>
          <form action="#" class="footer__wrapper-inner-social-subscribe-form">
            <input type="email" class="footer__wrapper-inner-social-subscribe-input"
              placeholder="Type your email...">
            <button class="footer__wrapper-inner-social-subscribe-btn">Subscribe</button>
          </form>
        </div>
        <div class="footer__wrapper-inner-social-links">
          <a href="https://github.com/nightwatchjs/nightwatch" target="_blank">
            <svg role="img" aria-hidden="true" viewBox="0 0 16 16" fill="#ffffff" version="1.1"
              shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
              <title>GitHub</title>
              <path
                d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z">
              </path>
            </svg>
          </a>
          <a href="https://www.youtube.com/@nightwatch_js" target="_blank">
            <svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#ffffff"
              shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
              <title>Youtube</title>
              <path
                d="M15.841 4.8c0 0-0.156-1.103-0.637-1.587-0.609-0.637-1.291-0.641-1.603-0.678-2.237-0.163-5.597-0.163-5.597-0.163h-0.006c0 0-3.359 0-5.597 0.163-0.313 0.038-0.994 0.041-1.603 0.678-0.481 0.484-0.634 1.587-0.634 1.587s-0.159 1.294-0.159 2.591v1.213c0 1.294 0.159 2.591 0.159 2.591s0.156 1.103 0.634 1.588c0.609 0.637 1.409 0.616 1.766 0.684 1.281 0.122 5.441 0.159 5.441 0.159s3.363-0.006 5.6-0.166c0.313-0.037 0.994-0.041 1.603-0.678 0.481-0.484 0.637-1.588 0.637-1.588s0.159-1.294 0.159-2.591v-1.213c-0.003-1.294-0.162-2.591-0.162-2.591zM6.347 10.075v-4.497l4.322 2.256-4.322 2.241z">
              </path>
            </svg>
          </a>
          <a href="https://twitter.com/nightwatchjs" target="_blank"><svg role="img" version="1.1"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#ffffff" shape-rendering="geometricPrecision"
              text-rendering="geometricPrecision">
              <title>Twitter</title>
              <path
                d="M16 3.538c-0.588 0.263-1.222 0.438-1.884 0.516 0.678-0.406 1.197-1.050 1.444-1.816-0.634 0.375-1.338 0.65-2.084 0.797-0.6-0.638-1.453-1.034-2.397-1.034-1.813 0-3.281 1.469-3.281 3.281 0 0.256 0.028 0.506 0.084 0.747-2.728-0.138-5.147-1.444-6.766-3.431-0.281 0.484-0.444 1.050-0.444 1.65 0 1.138 0.578 2.144 1.459 2.731-0.538-0.016-1.044-0.166-1.488-0.409 0 0.013 0 0.028 0 0.041 0 1.591 1.131 2.919 2.634 3.219-0.275 0.075-0.566 0.116-0.866 0.116-0.212 0-0.416-0.022-0.619-0.059 0.419 1.303 1.631 2.253 3.066 2.281-1.125 0.881-2.538 1.406-4.078 1.406-0.266 0-0.525-0.016-0.784-0.047 1.456 0.934 3.181 1.475 5.034 1.475 6.037 0 9.341-5.003 9.341-9.341 0-0.144-0.003-0.284-0.009-0.425 0.641-0.459 1.197-1.038 1.637-1.697z">
              </path>
            </svg></a>
          <a href="https://discord.com/invite/SN8Da2X" target="_blank">
            <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127.14 96.36" fill="#ffffff"
              shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
              <title>Discord</title>
              <g id="图层_2" data-name="图层 2">
                <g id="Discord_Logos" data-name="Discord Logos">
                  <g id="Discord_Logo_-_Large_-_White" data-name="Discord Logo - Large - White">
                    <path
                      d="M107.7,8.07A105.15,105.15,0,0,0,81.47,0a72.06,72.06,0,0,0-3.36,6.83A97.68,97.68,0,0,0,49,6.83,72.37,72.37,0,0,0,45.64,0,105.89,105.89,0,0,0,19.39,8.09C2.79,32.65-1.71,56.6.54,80.21h0A105.73,105.73,0,0,0,32.71,96.36,77.7,77.7,0,0,0,39.6,85.25a68.42,68.42,0,0,1-10.85-5.18c.91-.66,1.8-1.34,2.66-2a75.57,75.57,0,0,0,64.32,0c.87.71,1.76,1.39,2.66,2a68.68,68.68,0,0,1-10.87,5.19,77,77,0,0,0,6.89,11.1A105.25,105.25,0,0,0,126.6,80.22h0C129.24,52.84,122.09,29.11,107.7,8.07ZM42.45,65.69C36.18,65.69,31,60,31,53s5-12.74,11.43-12.74S54,46,53.89,53,48.84,65.69,42.45,65.69Zm42.24,0C78.41,65.69,73.25,60,73.25,53s5-12.74,11.44-12.74S96.23,46,96.12,53,91.08,65.69,84.69,65.69Z" />
                  </g>
                </g>
              </g>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="footer__wrapper-bottom">
      <div class="footer__wrapper-bottom-logo">
        <svg height="32" viewBox="0 0 180 32" fill="#ffffff" width="188" class="w-svg" xmlns="http://www.w3.org/2000/svg"
          aria-labelledby="headerBrowserStackLogoImgTitle headerBrowserStackLogoImgDesc" role="img">
          <title id="headerBrowserStackLogoImgTitle">BrowserStack Logo</title>
          <desc id="headerBrowserStackLogoImgDesc">An illustration of BrowserStack Logo</desc>
          <g fill="none" fill-rule="evenodd">
            <g>
              <path
                d="m31.0344828 15.5172414c0 8.5701882-6.9470532 15.5172414-15.5172414 15.5172414-8.56989423 0-15.5172414-6.9470532-15.5172414-15.5172414 0-8.56989423 6.94734717-15.5172414 15.5172414-15.5172414 8.5701882 0 15.5172414 6.94734717 15.5172414 15.5172414"
                fill="#ecb360"></path>
              <path
                d="m26.8965517 13.9655172c0 7.7128847-6.0213369 13.9655173-13.4482758 13.9655173-7.42722227 0-13.4482759-6.2526326-13.4482759-13.9655173 0-7.71288459 6.02105363-13.9655172 13.4482759-13.9655172 7.4269389 0 13.4482758 6.25263261 13.4482758 13.9655172"
                fill="#d76835"></path>
              <path
                d="m27.9310345 12.4136422c0 6.8560652-5.3263006 12.413944-11.8969855 12.413944-6.5698174 0-11.89611797-5.5578788-11.89611797-12.413944 0-6.85576335 5.32630057-12.4136422 11.89611797-12.4136422 6.5706849 0 11.8969855 5.55787885 11.8969855 12.4136422"
                fill="#d33a41"></path>
              <path
                d="m26.8965517 13.4484262c0 6.2843054-4.8632703 11.37916-10.8622124 11.37916-5.9989422 0-10.86192551-5.0948546-10.86192551-11.37916 0-6.28490677 4.86298331-11.37946068 10.86192551-11.37946068 5.9989421 0 10.8622124 5.09455391 10.8622124 11.37946068"
                fill="#b6cb46"></path>
              <path
                d="m25.862069 14.4826111c0 5.7133106-4.6316645 10.3449751-10.3449751 10.3449751-5.71301565 0-10.34468011-4.6316645-10.34468011-10.3449751 0-5.71331065 4.63166446-10.34468007 10.34468011-10.34468007 5.7133106 0 10.3449751 4.63136942 10.3449751 10.34468007"
                fill="#66ad4a"></path>
              <path
                d="m21.7241379 12.4137931c0 4.5706247-3.7052373 8.2758621-8.275862 8.2758621-4.57090515 0-8.27586211-3.7052374-8.27586211-8.2758621 0-4.57062469 3.70495696-8.27586207 8.27586211-8.27586207 4.5706247 0 8.275862 3.70523738 8.275862 8.27586207"
                fill="#aed7dc"></path>
              <path
                d="m22.7586207 11.3793103c0 3.9991764-3.2419755 7.2413794-7.2415259 7.2413794-3.9995505 0-7.24123273-3.242203-7.24123273-7.2413794 0-3.99946945 3.24168223-7.24137927 7.24123273-7.24137927 3.9995504 0 7.2415259 3.24190982 7.2415259 7.24137927"
                fill="#5bb1cf"></path>
              <path
                d="m22.7586207 11.8963967c0 3.7136422-2.7788402 6.724293-6.2068966 6.724293s-6.2068965-3.0106508-6.2068965-6.724293c0-3.71333217 2.7788401-6.72398291 6.2068965-6.72398291s6.2068966 3.01065074 6.2068966 6.72398291"
                fill="#25a8c3"></path>
              <path
                d="m20.6896552 12.9308813c0 3.1423524-2.315869 5.6898084-5.1725531 5.6898084-2.8564055 0-5.1722745-2.547456-5.1722745-5.6898084 0-3.14235241 2.315869-5.68950199 5.1722745-5.68950199 2.8566841 0 5.1725531 2.54714958 5.1725531 5.68950199">
              </path>
              <path
                d="m15.5171021 18.6206897c-2.8564055 0-5.1722745-2.547456-5.1722745-5.6898084 0-3.14235241 2.315869-5.68950199 5.1722745-5.68950199 2.8566841 0 5.1725531 2.54714958 5.1725531 5.68950199 0 3.1423524-2.315869 5.6898084-5.1725531 5.6898084z"
                fill="#1b1a18"></path>
              <path
                d="m18.3395432 11.2904163c-.4920811.8231975-1.4595626 1.299291-2.16129 1.062668-.7017274-.2363383-.8715674-1.0956984-.3798654-1.9191807.4920811-.82348231 1.4595626-1.29929107 2.16129-1.06295279s.8715674 1.09569839.3798654 1.91946549"
                fill="#fffffe"></path>
            </g>
            <g fill="#fff" transform="translate(40.344828 7.241379)">
              <path
                d="m117.326492 14.0927618c-.247347-.6938318-.370833-1.5731169-.370833-2.7528593 0-1.1797425.123486-2.05864681.370833-2.75285936.691971-1.98933976 2.522419-3.07654593 4.920599-3.07654593 1.780376 0 3.189919.67060248 4.129237 1.73496018.074543.09253628.099015.23153112-.024471.3240674l-1.557876 1.27189794c-.123485.09253628-.247347.06968782-.345985-.04607774-.593333-.62452474-1.211514-.97144061-2.200905-.97144061-1.06318 0-1.87939.48591071-2.225752 1.45735131-.197652.55521772-.246971 1.20297171-.246971 2.05864681 0 .8560558.049319 1.5270391.246971 2.0822568.346362.9482113 1.162572 1.4341221 2.225752 1.4341221.989391 0 1.607572-.3469159 2.200905-.9714407.098638-.1157655.2225-.1157655.345985-.0232292l1.557876 1.2722787c.123486.0925363.099014.2083019.024471.3236866-.939318 1.0411284-2.348861 1.7121117-4.129237 1.7121117-2.39818 0-4.228628-1.0872061-4.920599-3.0769267">
              </path>
              <path
                d="m136.031168 16.9153089c-.172804 0-.296666-.069307-.395681-.2315311l-3.016737-4.6728921-1.607195 1.7349602v2.9379319c0 .1389948-.098638.2315311-.246971.2315311h-2.275448c-.147957 0-.246971-.0925363-.246971-.2315311v-15.26810647c0-.13861403.099014-.23115031.246971-.23115031h2.275448c.148333 0 .246971.09253628.246971.23115031v9.06855607l4.080295-4.48781948c.147956-.16222411.271818-.23153112.469471-.23153112h2.522418c.148334 0 .197653.13861403.098638.23153112l-3.783251 4.07121578 4.352113 6.6161541c.074543.0925363.024848.2315311-.123485.2315311z">
              </path>
              <path
                d="m3.44757063 14.5093655h3.51143272c1.63204255 0 2.54688993-.8792851 2.54688993-2.1976416 0-1.295508-.91484738-2.1744124-2.54688993-2.1744124h-3.51143272c-.09863786 0-.14833327.0460778-.14833327.1386141v4.094445c0 .0925363.04969541.1389949.14833327.1389949zm3.36309944-6.77799741c1.48370927 0 2.39855665-.83282658 2.39855665-2.05902758 0-1.24904946-.91484738-2.08187604-2.39855665-2.08187604h-3.36309944c-.09863786 0-.14833327.04607774-.14833327.13861403v3.86329476c0 .09253629.04969541.13899483.14833327.13899483zm-6.42915584-6.31569676c0-.13861403.09901435-.23115031.24697115-.23115031h6.25635133c3.56075169 0 5.24211309 1.66565316 5.24211309 4.18698136 0 1.78141872-.8899996 2.79931787-1.9535568 3.33130632v.04645855c1.0387095.36976434 2.2502234 1.61919465 2.2502234 3.53922735 0 3.1230045-2.1018901 4.6268143-5.78612731 4.6268143h-6.00900371c-.1479568 0-.24697115-.0925363-.24697115-.2315311z">
              </path>
              <path
                d="m14.4750581 16.9153089c-.1487097 0-.2477241-.0925363-.2477241-.2315311v-10.68736988c0-.13899483.0990144-.23153112.2477241-.23153112h2.2746946c.1483333 0 .2473476.09253629.2473476.23153112v.94821133h.0248477c.5684854-.85567504 1.5823472-1.43412204 3.0909041-1.43412204.9393187 0 1.8790137.34691588 2.4971946.92536287.123862.11538475.1487097.20830185.0493189.3236866l-1.3105283 1.55026841c-.0986379.11538475-.2224999.13861402-.3459855.04607774-.5440142-.32406741-1.112876-.53198845-1.7555281-.53198845-1.5578759 0-2.2502234 1.04074762-2.2502234 2.82216632v6.0377071c0 .1389948-.0990143.2315311-.2473476.2315311z">
              </path>
              <path
                d="m30.2623873 13.39893c.1980287-.578447.2473477-1.1104354.2473477-2.0590275 0-.9482114-.049319-1.45735135-.2473477-2.05864681-.3463619-.92536286-1.1124996-1.45735131-2.2253756-1.45735131-1.1128761 0-1.9042379.53198845-2.2502234 1.45735131-.1976522.60129546-.2473476 1.11043541-.2473476 2.05864681 0 .9485921.0496954 1.4805805.2473476 2.0590275.3459855.9253629 1.1373473 1.4573514 2.2502234 1.4573514 1.112876 0 1.8790137-.5319885 2.2253756-1.4573514zm-7.1459745.6938318c-.2721953-.786368-.3956809-1.5266583-.3956809-2.7528593 0-1.2258202.1234856-1.96611052.3956809-2.75285936.6674998-1.94288121 2.4971945-3.07654593 4.9205989-3.07654593 2.3985566 0 4.2282514 1.13366472 4.8961276 3.07654593.2718189.78674884.3956809 1.52703916.3956809 2.75285936 0 1.226201-.123862 1.9664913-.3956809 2.7528593-.6678762 1.943262-2.497571 3.0769267-4.8961276 3.0769267-2.4234044 0-4.2530991-1.1336647-4.9205989-3.0769267z">
              </path>
              <path
                d="m45.3234858 16.9153089c-.1487097 0-.2473476-.0925363-.297043-.2315311l-2.2995423-7.12491325h-.0493189l-2.32439 7.12491325c-.0496954.1389948-.1483333.2315311-.2970431.2315311h-2.0273469c-.1487098 0-.2473477-.0925363-.2966666-.2315311l-3.7587803-10.68736988c-.0496955-.13899483.0248477-.23153112.1731809-.23153112h2.373709c.173181 0 .2721953.06930701.3215143.23153112l2.2995423 7.35644438h.0496954l2.2746946-7.35644438c.0496954-.13899483.1731809-.23153112.3215142-.23153112h1.7803758c.1483333 0 .2721954.09253629.3215143.23153112l2.4234044 7.35644438h.0493189l2.1760567-7.35644438c.049319-.16222411.1483333-.23153112.3215143-.23153112h2.3737089c.1483333 0 .2225.09253629.173181.23153112l-3.7587803 10.68736988c-.049319.1389948-.1483333.2315311-.2966666.2315311z">
              </path>
              <path
                d="m51.8938218 15.4114991c-.0986378-.0925363-.0986378-.2311503 0-.3236866l1.4095427-1.3880443c.0990143-.0925363.2473476-.0925363.3463619 0 .8655285.7402903 2.2502234 1.2722787 3.4865851 1.2722787 1.4588615 0 2.2005279-.5552177 2.2005279-1.3187373 0-.6709833-.4201521-1.0872061-1.978028-1.226201l-1.2860571-.1153847c-2.4230279-.2315311-3.659766-1.3880443-3.659766-3.2852286 0-2.15118306 1.6568903-3.51599809 4.6243088-3.51599809 1.8545425 0 3.4124184.578447 4.475599 1.36481503.1238621.09253629.1238621.23115031.0496954.3236866l-1.2118904 1.36519583c-.0986378.11538476-.2224999.11538476-.3459855.04607774-.7420428-.4859107-1.9287091-.92536286-3.1157518-.92536286s-1.8052235.4859107-1.8052235 1.15651318c0 .64813481.4205286 1.04112842 1.9535568 1.18012327l1.2856806.1157655c2.497571.2311504 3.6846137 1.4341221 3.6846137 3.2616185 0 2.2208709-1.7310569 3.7707585-4.995142 3.7707585-2.4478756 0-4.1292371-.9021336-5.1186276-1.7581894">
              </path>
              <path
                d="m71.0995931 9.14226086c-.3215143-.90213359-1.2118904-1.43412204-2.32439-1.43412204-1.1373473 0-2.0277234.53198845-2.3488612 1.43412204-.0993909.27760886-.1487098.55521772-.1487098.94859214 0 .0925363.0493189.1389948.1487098.1389948h4.6732512c.0990144 0 .1483333-.0464585.1483333-.1389948 0-.39337442-.0493189-.67098328-.1483333-.94859214zm-7.1956699 4.92727164c-.2473477-.7166802-.4205286-1.572736-.4205286-2.72963 0-1.1565132.1487097-2.03541753.3956809-2.75285936.6674997-1.94288121 2.4971945-3.07654593 4.8712799-3.07654593 2.4482521 0 4.2286279 1.17974246 4.8961276 3.07654593.2721954.78674884.3956809 1.55026836.3956809 3.35453556 0 .1386141-.0990143.2311503-.2718188.2311503h-7.3440032c-.0993909 0-.1487098.0464586-.1487098.1389949 0 .3236866.0741667.6012954.173181.855675.3956809 1.087587 1.335376 1.6888825 2.6703755 1.6888825 1.335376 0 2.2012809-.4626815 2.7942375-1.0639769.1238621-.1157656.2473477-.1389949.3708332-.0464586l1.4592381 1.2029717c.1234856.0925363.1234856.2083019.0248477.3240674-1.0138617 1.1100547-2.6955997 1.8968035-4.8961276 1.8968035-2.5224187 0-4.3027946-1.1565132-4.9702943-3.100156z">
              </path>
              <path
                d="m76.0928527 16.9153089c-.1479568 0-.2469711-.0925363-.2469711-.2315311v-10.68736988c0-.13899483.0990143-.23153112.2469711-.23153112h2.2750711c.1487097 0 .2473476.09253629.2473476.23153112v.94821133h.0248477c.5684854-.85567504 1.5823471-1.43412204 3.0909041-1.43412204.9396951 0 1.8790137.34691588 2.4971945.92536287.1238621.11538475.1483333.20830185.0496954.3236866l-1.3105282 1.55026841c-.0986379.11538475-.2225.13861402-.346362.04607774-.5436377-.32406741-1.1124996-.53198845-1.7551517-.53198845-1.5578759 0-2.2505998 1.04074762-2.2505998 2.82216632v6.0377071c0 .1389948-.0986379.2315311-.2473476.2315311z">
              </path>
              <path
                d="m84.704089 15.0878125c-.0990144-.0925363-.1483333-.2315311-.049319-.3472967l1.5330282-1.6656532c.0990144-.1153847.2473476-.1153847.3459855-.0228484 1.0884049.8095973 2.6955997 1.6652723 4.5746134 1.6652723 2.0028757 0 3.1650707-.9482113 3.1650707-2.2665678 0-1.1336647-.7416664-1.873955-3.0660564-2.1747931l-.8903761-.1157656c-3.2388609-.41622287-5.0689322-1.87395499-5.0689322-4.48781949 0-2.84539561 2.2253757-4.74219908 5.687113-4.74219908 2.1018901 0 4.1047658.62452473 5.4401418 1.57273607.1238621.09291709.1487098.18545338.0496954.3240674l-1.1870427 1.7117309c-.0986378.11576556-.2224999.13899484-.3463619.06968782-1.3598473-.83282658-2.6210566-1.226201-4.0302228-1.226201-1.7065856 0-2.6459042.87928513-2.6459042 2.10510532 0 1.08720617.815833 1.82749646 3.0909041 2.12833459l.8903761.11576556c3.2388609.41622289 5.0192368 1.85034493 5.0192368 4.55712651 0 2.7993179-2.1512091 4.8811939-6.3301415 4.8811939-2.4723468 0-4.87128-.9253628-6.1818082-2.081876">
              </path>
              <path
                d="m102.339937 17.1118057c-2.3985567 0-3.3134041-1.0872061-3.3134041-3.2619993v-5.87548295c0-.09253629-.0496954-.13899484-.1487097-.13899484h-.7913618c-.1479568 0-.2469712-.09253628-.2469712-.23153112v-1.5498876c0-.13861402.0990144-.23115031.2469712-.23115031h.7913618c.0990143 0 .1487097-.04645855.1487097-.13899483v-3.05369746c0-.13861403.0990144-.23115031.2469712-.23115031h2.2750709c.148333 0 .247348.09253628.247348.23115031v3.05369746c0 .09253628.049319.13899483.148333.13899483h1.582724c.147956 0 .246971.09253629.246971.23115031v1.5498876c0 .13899484-.099015.23153112-.246971.23153112h-1.582724c-.099014 0-.148333.04645855-.148333.13899484v5.78332755c0 .786368.346362 1.0407476 1.112876 1.0407476h.618181c.147956 0 .246971.0925363.246971.2315311v1.8503449c0 .1389949-.099015.2315311-.246971.2315311z">
              </path>
              <path
                d="m112.530885 13.1673989v-.855675c0-.0925363-.049695-.1389949-.14871-.1389949h-1.978028c-1.780376 0-2.571737.4626815-2.571737 1.5038099 0 .9253629.716818 1.3880443 2.052194 1.3880443 1.706586 0 2.646281-.6245247 2.646281-1.8971843zm.29629 3.74791c-.148333 0-.246971-.0925363-.246971-.2315311v-.8095973h-.024848c-.568862.7635196-1.681738 1.295508-3.362723 1.295508-2.176056 0-4.006128-1.0639769-4.006128-3.4006133 0-2.4291727 1.830072-3.5392274 4.772266-3.5392274h2.423404c.099015 0 .14871-.0464585.14871-.1389948v-.53198845c0-1.27265954-.643405-1.85072573-2.646281-1.85072573-1.335376 0-2.151209.34691587-2.720071.76351957-.123485.09253628-.271819.06930701-.345985-.04645855l-.914848-1.52665833c-.074166-.11576556-.049318-.23153112.049319-.30083813.964543-.64775401 2.275071-1.08720617 4.228628-1.08720617 3.634919 0 4.970295 1.15651318 4.970295 3.88652404v7.28675655c0 .1389948-.099391.2315311-.247348.2315311z">
              </path>
            </g>
          </g>
        </svg>
      </div>
      <div class="footer__wrapper-bottom-text">
        <p class="footer__wrapper-bottom-text-about">Nightwatch was established in 2014 and since 2021 it is
          actively maintained at <a href="#" target="_blank" rel="noopener noreferrer">BrowserStack</a> with the
          help
          of all our <a href="#" target="_blank" rel="noopener noreferrer">contributors</a>.</p>
        <p class="footer__wrapper-bottom-text-copywright">&copy; 2023 <a href="#" target="_blank"
            rel="noopener noreferrer">BrowserStack</a> Limited • Code licensed under the
          <a href="#" target="_blank" rel="noopener noreferrer">MIT License</a>.
        </p>
      </div>
    </div>
  </div>

</footer>
<!-- Footer section end -->