<div class="parallax">
    <div class="parallax__layer parallax__layer--3">
        <div id="stars" class="top-stars">&nbsp;</div>
    </div>
    <div class="parallax__layer parallax__layer--2">
        <div id="moon" class="top-moon">&nbsp;</div>
    </div>
    <div class="parallax__layer parallax__layer--1">
        <div id="clouds" class="top-clouds">&nbsp;</div>
    </div>
</div>
