@import url('./reset.css');

:root {
  /* Colors */
  --color-white: hsla(0, 0%, 100%, 1);
  --color-light-white: hsla(0, 0%, 97%, 1);
  --color-black: hsla(0, 0%, 0%, 1);
  --color-light-black: hsla(0, 0%, 0%, 0.08);
  --color-dark-grey: hsla(0, 0%, 21%, 1);
  --color-light-grey: hsla(180, 1%, 79%, 1);
  --color-light-cyan: hsla(180, 11%, 98%, 1);
  --color-orange: hsla(14, 95%, 64%, 1);
  --color-vibrant-orange: hsla(27.16, 95%, 60.78%, 1);
  --color-pure-yellow: hsla(35.56, 100%, 68.24%, 1);
  --color-brown: hsla(23, 55%, 20%, 1);
  --color-grey: hsla(0, 0%, 94%, 1);
  --color-light-yellow: hsla(49, 65%, 97%, 1);
  --color-light-brown: hsla(23, 9%, 36%, 1);
  --color-muted-brown: hsla(32, 11%, 40%, 1);
  --color-blue: hsla(230, 96%, 55%, 1);
  --color-muted-blue: hsl(217, 74%, 43%, 1);  
  --color-dark-brown: hsl(0, 0%, 20%, 1);

  /* Font Size */
  --font-size-68: calc(68 / 16 * 1rem);
  --font-size-52: calc(52 / 16 * 1rem);
  --font-size-36: calc(36 / 16 * 1rem);
  --font-size-28: calc(28 / 16 * 1rem);
  --font-size-24: calc(24 / 16 * 1rem);
  --font-size-20: calc(20 / 16 * 1rem);
  --font-size-21: calc(21 / 16 * 1rem);
  --font-size-18: calc(18 / 16 * 1rem);
  --font-size-16: calc(16 / 16 * 1rem);
  --font-size-14: calc(14 / 16 * 1rem);
  --font-size-12: calc(12 / 16 * 1rem);

  /* Font Weight */
  --weight-100: 100;
  --weight-200: 200;
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;
  --weight-900: 900;

  /* Line Height (line-height/font-size) */
  --line-height-72: calc(72 / 68);
  --line-height-65: calc(65 / 52);
  --line-height-42: calc(42 / 36);
  --line-height-40: calc(40 / 24);
  --line-height-36: calc(36 / 18);
  --line-height-35: calc(35 / 28);
  --line-height-32: calc(32 / 24);
  --line-height-33: calc(33 / 18);
  --line-height-30: calc(30 / 20);
  --line-height-27: calc(27 / 21);
  --line-height-28: calc(28 / 18);
  --line-height-25: calc(25 / 14);
  --line-height-24: calc(24 / 18);
  --line-height-23: calc(23 / 16);
  --line-height-22: calc(22 / 18);
  --line-height-21: calc(21 / 18);

  /* Font family */
  --font-family-mono: 'IBM Plex Mono', sans-serif;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  position: absolute;
  overflow: hidden;
}
