@import url('./reset.css');

:root {
  /* Colors */
  --header-background: hsla(0, 0%, 10.59%, 1);
  --header-text-color: hsla(0, 0%, 100%, 1);
  --background-color: hsla(0, 0%, 100%, 1);
  --text-color-light: hsla(0, 0%, 100%, 1);
  --border-color: hsla(0, 0%, 96.47%, 1);
  --text-color: hsla(0, 0%, 0%, 1);
  --subtitle-text-color: hsla(22.5, 8.6%, 36.47%, 1);
  --feature-title-text-color: hsla(23.16, 55.34%, 20.2%, 1);
  --button-border-color:hsla(0, 0%, 0%, 1);
  --box-shadow-color: hsla(0, 0%, 0%, 0.08);
  --button-background-color-dark:  hsla(0, 0%, 21%, 1);
  --button-box-shadow: hsla(0, 0.92%, 78.63%, 1);
  --button-background-color-light: hsla(180, 11.11%, 98.24%, 1);
  --text-color-accent: hsla(22.81, 71.6%, 33.14%, 1);
  --button-border-accent-color: hsla(27.16, 95%, 60.78%, 1);
  --card-border-color: hsla(0, 0%, 94%, 1);
  --card-text-color: hsla(22.5, 8.6%, 36.47%, 1);
  --button-border-color-dark: hsla(32, 11%, 40%, 1);
  --dropdown-background-color: hsla(0, 0%, 98%, 1);
  --dropdown-box-shadow-color: hsla(0, 0%, 0%, 0.08);
  --footer-background-color: hsla(0, 0%, 98%, 1);
  --pagination-background-color: hsla(22.81, 71.6%, 33.14%, 1);
  --pagination-bullet-background-color: hsla(46.67, 18%, 80.39%, 1);
  --header-border-color: hsl(270, 8%, 90.2%);

  /* --color-white: hsla(0, 0%, 100%, 1);
  --color-light-white: hsla(0, 0%, 97%, 1);
  --color-black: hsla(0, 0%, 0%, 1);
  --color-light-black: hsla(0, 0%, 0%, 0.08);
  --color-dark-grey: hsla(0, 0%, 21%, 1);
  --color-light-grey: hsla(180, 1%, 79%, 1);
  --color-light-cyan: hsla(180, 11%, 98%, 1);
  --color-orange: hsla(14, 95%, 64%, 1);
  --color-vibrant-orange: hsla(27.16, 95%, 60.78%, 1);
  --color-pure-yellow: hsla(35.56, 100%, 68.24%, 1);
  --color-yellow: hsla(35, 85%, 46%, 1);
  --text-color-accent: hsla(23, 72%, 33%, 1);
  --color-grey: hsla(0, 0%, 94%, 1);
  --color-light-yellow: hsla(49, 65%, 97%, 1);
  --color-light-brown: hsla(23, 9%, 36%, 1);
  --color-muted-brown: hsla(32, 11%, 40%, 1);
  --color-blue: hsla(230, 96%, 55%, 1);
  --color-muted-blue: hsla(217, 74%, 43%, 1);
  --color-dark-brown:hsla(23, 55%, 20%, 1); */

  /* Font Size */
  --font-size-base: calc(16 / 16 * 1rem);
  --font-size-h1: calc(72 / 16 * 1rem);
  --font-size-h2: calc(52 / 16 * 1rem);
  --font-size-h3: calc(45 / 16 * 1rem);
  --font-size-h4: calc(36 / 16 * 1rem);
  --font-size-h5: calc(28 / 16 * 1rem);
  --font-size-h6: calc(24 / 16 * 1rem);
  --font-size-h7: calc(18 / 16 * 1rem);
  --font-size-h8: calc(14 / 16 * 1rem);
  --font-size-h8-s: calc(12 / 16 * 1rem);
  --font-size-h7-mega: calc(21 / 16 * 1rem);
  --font-size-testimonial: calc(21 / 16 * 1rem);

  /* Line Height (line-height/font-size) */
  --line-height-base: calc(24 / 16);
  --line-height-h1: calc(80 / 72);
  --line-height-h2: calc(65 / 52);
  --line-height-h3: calc(52 / 45);
  --line-height-h4: calc(42 / 36);
  --line-height-h5: calc(35 / 28);
  --line-height-h6: calc(32 / 24);
  --line-height-h6-mega: calc(40 / 24);
  --line-height-h7: calc(36 / 18);
  --line-height-h7-s: calc(28 / 18);
  --line-height-h7-xs: calc(24 / 18);
  --line-height-h7-mega: calc(24 / 21);
  --line-height-h8: calc(21 / 14);
  --line-height-testimonial: calc(28 / 21);

  /* --line-height-40: calc(40 / 24);
  --line-height-33: calc(33 / 18);
  --line-height-30: calc(30 / 20);
  --line-height-27: calc(27 / 21);
  --line-height-25: calc(25 / 14);
  --line-height-23: calc(23 / 16);
  --line-height-22: calc(22 / 18);
  --line-height-19: calc(19 / 16); */

  /* Font family */
  --font-family-primary:  'Source Sans 3', sans-serif;
  --font-family-code: 'IBM Plex Mono', sans-serif;

  --layout-content-width: 1200px;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  position: absolute;
}
