@media screen and (min-width: 320px) and (max-width: 677px) {
    .main-heading h1 {
        font-size: 32px;
        line-height: 48px;
        text-align: center;
    }
    .subtitle1 {
        text-align: center;
    }
    .hero-content {
        flex-direction: column;
        gap: 20px;
    }
    .hero-section {
        padding: 40px 20px;
    }
    .hero-left {
        align-items: center;
        width: 100%;
    }
    .hero-right {
        width: 100%;
    }
    .brand-message {
        align-items: center;
        width: 100%;
        text-align: center;
        gap : 16px;
    }
    .features-section {
        padding: 40px 20px;
        gap: 28px;
    }
    h4, 
    .semibold32px {
        font-size: 24px;
        line-height: 36px;
    }
    .features {
        width: 100%;
        flex-direction: column;
    }
    .features-section,
    .features-section-tablet {
        display: none;
    }
    .ready-section {
        padding: 40px 20px;
    }
    .capabilities-section,
    .capabilities-section-tablet {
        display: none;
    }
    .capabilities-section-mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px 20px;
        padding-bottom: 80px;
        gap: 28px;
        height: auto;
        width: 100%;
        background: #F9F9F9;
    }
    .features-section-mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px 20px;
        gap: 28px;
        padding-bottom: 80px;
        height: auto;
        width: 100%;
        background: #FFFFFF;

    }
    .features-sub-content {
        width: 100%;
    }
    .features-sub-content .body-text-2 {
        width: 90%;
    }
    .community-members {
        gap: 8px;
        justify-content: space-between;
    }
    .community-members img {
        height: 60px;
        width: 60px;
    }
    .footerlinks {
        flex-direction: column;
        gap: 40px;
    }
    .footer-links-left {
        flex-direction: column;
        width: 100%;
    }
    .footer-links-right {
        width: 100%;
    }
    .footer-links-right input[type="text"] {
        width: 100%;
    }
    .email-section {
        width: 100%;
        flex-direction: column;
    }
    .subscribe {
        width: 100%;
    }
    .footer-links-frame {
        width: 100%;
    }

    .capabilities-section {
        gap:40px;
        padding: 40px 20px;
        flex-direction: row;
    }
    .capabilities {
        width: 100%;
        display: flex !important
    }
    input[type = "text"] {
        width: 100%;
    
    }
    input[type = "button"] {
        width: 100%;
    
    }
    .copyright-1 {
        flex-direction: column;
    }
    .footer-section {
        padding: 40px 20px;
    }
    .community-section {
        padding: 40px 20px;
    }
    .footer-content {
        gap: 20px;
    }
    .nav-links {
        display: none;
    }
    .navigation-content {
        flex-direction: column;
    }
    .integrations-section {
        padding: 40px 20px;
        gap: 28px;
    }
    .navigation-links {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .nav-links-left {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .nav-links-right{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .verticle-line, .verticle-line1 {
        display: none;
    }
    .action1 {
        align-items: center;
        width: 90%;
    }
    .action {
        width : 100%;
    }
    .copy-mobile {
        display: flex;
    }
    .copy {
        display: none;
    }
    .trust {
        gap: 28px;
    }
    .trust img {
        width : 100px;
        height : 40px; 
    }
    .integration-frameworks-content1 {
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
    }
    .integration-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
        gap: 28px;
        background: #F9F9F9;
        width: 100%;
    }
    .integrations-section {
        display: none;
    }
    
    .integrations-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 60px;
        width: 100%;
        
    }
    .accordion {
        width: 100%;
    }
    .accordion-body {
        padding: 20px;
        background: #F9F9F9;
    }
    .social-links {
        width: 90%;
        justify-content: center;
    }
    .community-buttons {
        flex-direction: column;
    }
    .button-default {
        width: 100%;
    }
    body.navbar-visible .bs-sidebar {
        position: unset !important;
        height: auto !important;
    }
}






