/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.secondary-orange-color {
  color: var(--secondary-orange-color);
}

.secondary-herobg-color {
  color: var(--secondary-herobg-color);
}

.neutral-white-color,
.grey10 {
  color: var(--neutral-white-color);
}

.neutral-black-color {
  color: var(--neutral-black-color);
}

.neutral-bluish-grey1 {
  color: var(--neutral-bluish-grey1);
}

.neutral-bluish-grey2 {
  color: var(--neutral-bluish-grey2);
}

.neutral-bluish-grey3 {
  color: var(--neutral-bluish-grey3);
}

.orange60 {
  color: #D48806;
}

.primary50 {
  color: #A76B46;
}

.primary60 {
  color: var(--primary60);
}

.grey100 {
  color: #333333;
}

.grey40 {
  color: #EEEEEE;
}

.nightwatch-title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.07em;
  color: #FFFFFF;
}

h1 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 84px;
}

h2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
}

h3 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
}

h4 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

h5 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

h6 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.regular42px {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 64px;
}

.regular36px {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
}

.regular32px {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
}

.regular26px {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
}

.regular24px {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.regular20px {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.regular18px {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.regular16px {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.regular14px {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.regular12px {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.regular10px {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
}


.semibold42px {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 64px;
}

.semibold36px {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 56px;
}

.semibold32px {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.semibold26px {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
}

.semibold24px {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.semibold20px {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.semibold18px {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.semibold14px {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.semibold16px {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.semibold12px {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.semibold10px {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
}

[data-uri="/"] a {
  text-decoration: none !important;
  color: none !important;
}

.learnmore {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: none;
  color: var(--blue60);
}

.verticle-line,
.verticle-line1 {
  display: flex;
  width: 0px;
  height: 364px;
  border: 1px solid #DDDDDD;
}

.npm-install {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  height: 19px;
}

.npm-text {
  font-family: 'Menlo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.accordion-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 20px;
  gap: 10px;
  background: #FFFFFF !important;
  border: 1px solid #DDDDDD;
  box-shadow: none;

}

.comingsoon {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--neutral-black-color);
}

.accordion-button span {
  color: var(--neutral-black-color);

}

.accordion-button.collapsed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 20px;
  gap: 10px;

  background: #787878 !important;
  border: 1px solid #DDDDDD;
  box-shadow: none;

}

.accordion-button.collapsed span {
  color: var(--neutral-white-color);

}

.accordion-button:focus {
  z-index: 3;
  border-color: none !important;
  outline: 0;
  box-shadow: none !important;
}

.navigation-content a {
  text-decoration: none;
}

.button-default {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 8px;
  width: 200px;
  height: 48px;
  border-radius: 4px;
}

.button-primary-default {
  background: var(--primary60);
}

.button-primary-default:hover {
  background: var(--primary50);
}

.button-primary-default:focus {
  background: var(--primary80);
}

.button-secondary-default:hover {
  background: var(--primary10);
}

.button-secondary-default:focus {
  background: var(--primary20);
}

a.button-default,
a.button-default {
  text-decoration: none;
}

.button-secondary-default {
  background: #FFFFFF;
  border: 1px solid var(--primary60);
}

.copy {
  padding: 4px 12px;
  gap: 8px;
  width: 59px;
  height: 32px;
  background: var(--primary60);
}

.copy:hover {
  background: var(--primary50) !important;
}

.copy:focus {
  background: var(--primary80) !important;
}

.docs-sub-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}

[data-uri^="/about"] .doc-main-body {
  padding: 0px !important;
}

[data-uri="/about"] section [data-page-uri="/about"],
[data-uri="/about/"] section [data-page-uri="/about"],
[data-uri^="/about/contribute"] section [data-page-uri^="/about/contribute"],
[data-uri^="/about/community"] section [data-page-uri^="/about/community"] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px !important;
  gap: 40px;
  background: #FFFFFF;
}

[data-uri^="/about"] section.secondary h1,
[data-uri^="/about"] section.secondary h2,
[data-uri^="/about"] section.secondary h3,
[data-uri^="/about"] section.secondary h4 {
  color: var(--neutral-black-color);
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
  border-bottom: 0px;
  background: none;
}

.hidden-block {
  display: none !important;
}

#about-container p {
  margin: 0px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--neutral-black-color);
}

#about-container .doc-main-body li {
  margin: 0px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

#community-content article {
  margin: 0px;
  padding: 10px;
}

.dropdown-menu.show {
  transform: translate3d(0.5px, 44.5px, 0px) !important;
}

#about-container .bs-sidebar .nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}

.about-sidebar {
  height: auto !important;
  position: sticky !important;
}

.about-sidebar a {
  text-decoration: none;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #787878;
  text-decoration: none !important;
}

[data-uri^="/"] .navigation1 a:hover,
[data-uri^="/"] .footer-section a:hover {
  color: var(--neutral-white-color);
}

#navbarDropdown {
  border-bottom: 0px;
  padding-bottom: 0px;
}

.right-side-nav {
  position: sticky !important;
  top: 60px !important;
}

input:focus-visible {
  outline: 0px;
}

@media screen and (min-width: 1729px) {
  section[data-page-uri="/"] {
    /*max-width: 1648px;*/
    margin-left: auto;
    margin-right: auto;
  }

  .navigation1 .dropdown-menu {
    margin-left: -170px !important;
  }
}

section[data-page-uri="/"] p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--neutral-black-color) !important;
}

.footer-section a:hover,
.footer-section a:focus {
  text-decoration: underline !important;
}

footer .footer-content {
  padding-top: 0px;
}