<div class="doc-container full-width top-border background">
    <div class="clearfix">
        <div class="row flex-xl-nowrap no-gutters">

            <div class="col-md-3 col-xl-2 doc-sidebar bs-sidebar hidden-print" role="complementary">
                <%- include('api-sidebar') %>
            </div>

            <div class="col-md-9 col-xl-9 doc-main-body" role="main">
                <div class="docs-section" data-page-uri="<%- page.url %>">
                    <div class="page-content"><%- pageContent %></div>
                </div>
            </div>
        </div>
    </div>
</div>
